:root {
  --bg-color: #2e313a;
  --nav-color: #454651;
  --side-color: #2a2d35;
  --card-color: #3a3d44;
  --white: white;
  --grey: #6b747c;
  --gold: #edce86;
  --bg-gradient: linear-gradient(
    0deg,
    rgba(36, 37, 46, 1) 20%,
    rgba(42, 45, 53, 1) 90%
  );
  --gold-gradient: linear-gradient(
    45deg,
    rgba(237, 206, 134, 1) 20%,
    rgba(189, 168, 97, 1) 90%
  );
}
html,
body {
  font-family: "Open Sans";
  font-size: 16px;
  margin: 0px;
  background-color: var(--bg-color);
}

/* @media only screen and (min-width: 1400px) {
    html,
    body {
        font-size: 18px;
    }
} */
